[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.0.3"
gunicorn = "==19.7.0"
"psycopg2-binary" = "==2.7.4"
invoke = "==0.22.1"
"autopep8" = "==1.3.4"
dj-database-url = "*"
whitenoise = "*"
phonenumberslite = "*"
django-phonenumber-field = "*"
django-admin-list-filter-dropdown = "*"
address = {git = "https://github.com/karbassi/django-address.git", ref = "django-2.x"}
django-termsandconditions = "*"

[dev-packages]

[requires]
python_version = "3.6"
